//########################################
//## TIMES NEW ROMAN - BASED STACK #######
//########################################

$font-times-new-roman-based: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

$font-times-new-roman: nth($font-times-new-roman-based, 7);

//########################################
//## MODERN GEORGIA - BASED STACK ########
//########################################

$font-modern-georgia-based: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

$font-georgia: nth($font-modern-georgia-based, 9);

//########################################
//## TRADITIONAL GARAMOND - BASED STACK ##
//########################################

$font-traditional-garamond-based: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

//########################################
//## HELVETICA/ARIAL - BASED STACK #######
//########################################

$font-helvetica-arial-based: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-helvetica: nth($font-helvetica-arial-based, 15), nth($font-helvetica-arial-based, 14);
$font-arial: nth($font-helvetica-arial-based, 16);

//########################################
//## VERDANA - BASED STACK ###############
//########################################

$font-verdana-based: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;

$font-verdana: nth($font-verdana-based, 8), nth($font-verdana-based, 9);

//########################################
//## TREBUCHET - BASED STACK #############
//########################################

$font-trebuchet-based: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

$font-trebuchet: nth($font-trebuchet-based, 6);

//########################################
//## IMPACT - BASED STACK ################
//########################################

$font-impact-based: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;

//########################################
//## MONOSPACE - BASED STACK #############
//########################################

$font-monospace-based: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

//########################################
//## FONT WEIGHTS ########################
//########################################

$font-weight-array: 100, 200, 300, 400, 500, 600, 700, 800, 900;

$font-wT: nth($font-weight-array, 1);
$font-wEL: nth($font-weight-array, 2);
$font-wL: nth($font-weight-array, 3);
$font-wN: nth($font-weight-array, 4);
$font-wM: nth($font-weight-array, 5);
$font-wSB: nth($font-weight-array, 6);
$font-wB: nth($font-weight-array, 7);
$font-wEB: nth($font-weight-array, 8);
$font-wUB: nth($font-weight-array, 9);