//#######################################
//## ROUTE TYPE #########################
//#######################################

$img-link-type: HTML;
// OR
// $img-link-type: PHP;

//#######################################
//## IMG ROUTES #########################
//#######################################

$routeHTML: '../img/';
$routePHP: '/static/img/';

//#######################################
//## FONT ROUTES ########################
//#######################################

$routeHTMLfont: '../fonts/';
$routePHPfont: '/static/fonts/';