//BUTTON
.button {
    display: inline-block;
    vertical-align: middle;
    background-color: $vine-red;
    color: $white-100;
    text-transform: uppercase;
    text-align: center;
    border-radius: 100px;
    padding: 12px 40px;
    @include font-size-map($font-size-10);
    line-height: 1.4em;
    text-decoration: none;
    transition: $hover;
    position: relative;
    will-change: background-color, border;
    border: 1px solid $vine-red;
    cursor: pointer;

    @include MQ(tablet) {
        padding: 10px 32px;
    }

    @include MQ(mobile) {
        padding: 8px 22px;
    }

    &--white {
        background-color: $white-100;
        color: $dark-grey;
        will-change: background-color, border;
        border: 1px solid $white-100;
    }

    &--white-with-red {
        background-color: $white-100;
        color: $dark-grey;
        will-change: background-color, border;
        border: 1px solid $vine-red;
    }

    .icon {
        @include font-size-map($font-size-17);
        position: relative;
        top: -1px;
        color: $grey;
        margin-left: 12px;
        will-change: transform;
        transition: $slide;

        use {
            transition: fill 0.25s ease-in-out;
        }
    }

    @include MQ(desktop) {

        &:hover {
            background-color: $white-100;
            color: $vine-red;
            border: 1px solid $vine-red;
            .icon {
                transform: translateX(12px);

                use {
                    fill: $vine-red;
                }
            }
        }
    }

}

.back-button, .read-more-button {
    vertical-align: middle;
    color: $vine-red;
    text-transform: uppercase;
    @include font-size-map($font-size-10);
    line-height: 1.4em;
    text-decoration: none;
    transition: $hover;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;

    &.with-padding {
        padding: 12px 40px;
    }

    .icon {
        @include font-size-map($font-size-17);
        position: relative;
        top: -1px;
        color: $grey;
        margin-right: 12px;
        will-change: transform;
        transition: $slide;

        use {
            transition: fill 0.25s ease-in-out;
        }
    }

    @include MQ(desktop) {

        &:hover {
            .icon {
                transform: translateX(-12px);

                use {
                    fill: $vine-red;
                }
            }
        }
    }

}

.read-more-button {
    .icon {
        margin-right: 0;
        margin-left: 12px;
    }

    @include MQ(desktop) {

        &:hover {
            .icon {
                transform: translateX(12px);
            }
        }
    }

}

.is-link {
    vertical-align: middle;
    color: $vine-red;
    text-transform: uppercase;
    @include font-size-map($font-size-10);
    line-height: 1.4em;
    text-decoration: none;
    transition: $hover;
    position: relative;
}