.item {
    $root: &;
    position: relative;
    text-align: left;
    border-top: 1px solid $light-grey-A;

    &:first-of-type, &:first-child {
        border-top: 0;
    }

    &--inlist {
        border-top: 0;
        border-bottom: 1px solid $light-grey-A;
        margin-bottom: 1.4em;
    }

    // list of items
    &__list {

        > header {
            padding-left: 20px;
            padding-right: 20px;

            h4 {
                color: $grey;
                font-family: $roboto-regular;
                @include font-size-map($font-size-10);
                text-transform: uppercase;
            }
        }
    }

    &:before {
        position: absolute;
        width: calc(100% + 50px);
        height: calc(100% - 50px);
        left: -25px;
        top: 25px;
        bottom: 25px;
        right: -25px;
        background: transparent;
        visibility: hidden;
        content: "";
        will-change: background;
        transition: all 0.25s ease-in-out;
        display: none;

        @include MQ(desktop) {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: block;
        }
    }

    &__inner {
        display: block;
        position: relative;
        z-index: 1;
        @include clearfix();
        padding: 45px 0;

        @include MQ(desktop) {
            padding: 30px 0;
        }

        @include MQ(tablet) {
            padding: 30px 0;
        }

        @include MQ(mobile) {
            padding: 20px 0;
        }
    }

    // figure
    &__figure {
        //width: 40%;
        min-width: 200px;
        width: span(4 of 17);
        display: inline-block;
        float: left;
        margin: 0;
        margin-bottom: 0;

        @include MQ(desktop) {
            min-width: 100px;
            width: span(3 of 17);
            @include prefix(1 of 17);
        }

        @include MQ(tablet) {
            min-width: 100px;
        }

        @include MQ(tablet-S) {
            display: none;
        }

        @include MQ(mobile) {
            display: none;
        }

        img {
            width: 100%;
            height: auto;
            vertical-align: top;
            margin: 0;
        }
    }

    // content
    &__content {
        //width: 60%;
        display: inline-block;
        float: left;
        padding-left: 25px;
        @include clearfix();
        max-width: calc(100% - 200px);
        width: span(13 of 17);

        @include MQ(desktop) {
            max-width: calc(100% - 100px);
            width: span(14 of 17);
        }

        @include MQ(tablet) {
            max-width: calc(100% - 100px);
        }

        @include MQ(tablet-S) {
            width: 100%;
            padding-left: 0;
            max-width: calc(100%);
        }

        @include MQ(mobile) {
            width: 100%;
            padding-left: 0;
            max-width: calc(100%);
        }

        header {
            padding-bottom: 30px;

            @include MQ(desktop) {
                float: left;
                width: 50%;
                @include suffix(1 of 17);
                padding-bottom: 0;
            }

            @include MQ(tablet-S) {
                padding-bottom: 15px;
            }

            @include MQ(mobile) {
                padding-bottom: 15px;
            }
        }

        h3 {
            @include font-size-map($font-size-25);
            color: $dark-grey;
            margin: 0;
            line-height: 1.2em;
        }

        p {
            @include font-size-map($font-size-p);
            color: $dark-grey;
            margin: 0;
        }
    }

    .grades {
        padding: 0;
        margin: 0;

        @include MQ(desktop) {
            text-align: right;
        }

        li {
            list-style: none;
            display: inline-block;
            padding: 0;

            &:before {
                display: none;
            }
        }

        &__wrapper {

            @include MQ(desktop) {
                float: left;
                width: 50%;
                @include suffix(1 of 17);
                text-align: right;
            }
        }

        &__grade {
            position: relative;
        }
    }

    .rating {

        @include MQ(desktop) {
            text-align: right;
        }

        &__wrapper {

            @include MQ(desktop) {
                float: left;
                width: 50%;
                @include suffix(1 of 17);
                text-align: right;
            }
        }
    }

    // hover item
    &:hover {

        @include MQ(desktop) {

            &:before {
                background: $light-grey-C-30;
                content: "";
                visibility: visible;
            }
        }

        .grades {

            &__grade {
                color: $white-100;

                &:before {
                    transform: scale(1);
                    opacity: 1;
                }

                &:after {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }

    &--sidebar {
        padding-left: 20px;
        padding-right: 20px;

        &:last-child {
            border-bottom: 1px solid $light-grey-A;
        }

        #{$root}__inner {
            padding: 20px 0;
        }

        #{$root}__figure {
            display: none;
        }

        #{$root}__content {
            width: 100%;
            padding-left: 0;
            max-width: calc(100%);

            header {
                float: none;
                width: 100%;
                @include suffix(0 of 17);
                padding-bottom: 15px;
            }

            h3 {
                @include font-size-map($font-size-19);
                color: $dark-grey;
                margin: 0;
                line-height: 1.2em;
            }

            p {
                @include font-size-map($font-size-p);
                color: $dark-grey;
                margin: 0;
            }
        }

        .grades {
            text-align: left;

            li {
                margin-right: 10px;
            }

            &__wrapper {
                float: none;
                width: 100%;
                @include suffix(0 of 17);
                text-align: left;
            }

            &__grade {
                width: 22px;
                height: 22px;
                font-size: 12px;
                line-height: 22px;
            }

            &__label {
                @include font-size-map($font-size-p);
            }
        }

        &:before {
            display: none;
        }

        .rating {
            text-align: left;

            &__wrapper {
                float: none;
                width: 100%;
                @include suffix(0 of 17);
                text-align: left;
            }
        }
    }

    &.is-smaller {

        &:before {
            width: calc(100% + 50px);
            height: calc(100% - 50px);
            top: 25px;
            bottom: 25px;
            left: -25px;
            right: -25px;

            @include MQ(desktop) {
                width: calc(100% + 30px);
                height: calc(100% - 30px);
                top: 15px;
                bottom: 15px;
            }

            @include MQ(tablet) {
                width: calc(100% + 30px);
                height: calc(100% - 30px);
                top: 15px;
                bottom: 15px;
            }

            @include MQ(mobile) {
                width: calc(100% + 20px);
                height: calc(100% - 20px);
                top: 10px;
                bottom: 10px;
            }
        }

        #{$root}__inner {
            padding: 45px 0;

            @include MQ(desktop) {
                padding: 30px 0;
            }

            @include MQ(tablet) {
                padding: 30px 0;
            }

            @include MQ(mobile) {
                padding: 20px 0;
            }
        }

        // figure
        #{$root}__figure {
            width: span(4 of 17);
            min-width: 200px;
            padding-left: 0;

            @include MQ(tablet) {
                min-width: 100px;
            }

            @include MQ(tablet-S) {
                display: none;
            }

            @include MQ(mobile) {
                display: none;
            }
        }

        // content
        #{$root}__content {
            max-width: calc(100% - 200px);
            width: span(13 of 17);

            @include MQ(tablet) {
                max-width: calc(100% - 100px);
            }

            @include MQ(tablet-S) {
                width: 100%;
                padding-left: 0;
                max-width: calc(100%);
            }

            @include MQ(mobile) {
                width: 100%;
                padding-left: 0;
                max-width: calc(100%);
            }

            header {
                float: none;
                width: 100%;
                @include suffix(0 of 17);
                padding-bottom: 30px;

                @include MQ(tablet-S) {
                    padding-bottom: 15px;
                }

                @include MQ(mobile) {
                    padding-bottom: 15px;
                }
            }
        }

        .grades {
            text-align: left;

            &__wrapper {
                float: none;
                width: 100%;
                @include suffix(0 of 17);
                text-align: left;
            }
        }
    }
}