@include i-block('remodal-tags', 'three', 2, 0);

@include MQ(mobile) {
    @include i-block('remodal-tags', 'three', 2, 1);
}

.itemblock-remodal-tags {
    padding-bottom: 50px;
    text-align: left;

    @include MQ(tablet) {
        padding-bottom: 35px;
    }

    @include MQ(mobile) {
        padding-bottom: 25px;
    }

    h3 {
        width: 100% !important;
        @extend h3;
    }
}

.remodal {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: left;

    @include MQ(tablet) {
        padding: 40px;
    }

    @include MQ(mobile) {
        padding: 30px;

        header {
            padding-bottom: 25px;
        }
    }

    form {
        fieldset {
            margin: 0;
            padding-bottom: 20px;
        }

        label {
            text-align: left;
        }
    }
}

// OVERRIDE
.remodal-close {
    position: absolute;
    left: auto;
    top: 16px;
    right: 20px;

    display: block;
    overflow: visible;

    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;

    cursor: pointer;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    text-decoration: none;

    color: #95979c;
    background: transparent;
    border: 0;
    outline: 0;

    @include MQ(tablet) {
        top: 5px;
        right: 5px;
    }

    @include MQ(mobile) {
        top: 5px;
        right: 5px;
        width: 25px;
        height: 25px;
    }

    svg {
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;

        use {
            fill: #6f7374;;
        }
    }
}

.remodal-close:hover,
.remodal-close:focus {
    color: #2b2e38;
    background: #f9f9f9;
}

.remodal-close:before {
    display: none;
}