$itemblocks: one two three four;
$marginNbr: 1; // %

@mixin i-block($class, $current-itemblock, $margin, $n) {

    @if ($n) {
        .itemblock-#{$class} {
            width: 100%;
            font-size: 0;

            > * {
                vertical-align: top;
                display: inline-block;
                @include border-box();
                content:"#{$current-itemblock}";

                // FONT SIZE
                font-size: 12px;
            }

            $i: index($itemblocks, $current-itemblock);
            $oi: $i;
            $i: $i - $n;

            &.#{$current-itemblock} > * {
                position: relative;
                width: percentage((1 / $i) * (100 - (($i - 1)  * $margin)) / 100);
                margin-right: percentage($margin / 100);

                &:nth-child(#{$oi}n) {
                    margin-right: percentage($margin / 100);
                }

                &:nth-child(#{$i}n) {
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    } @else {
        .itemblock-#{$class} {
            width: 100%;
            font-size: 0;

            > * {
                vertical-align: top;
                display: inline-block;
                @include border-box();
                content:"#{$current-itemblock}";

                // FONT SIZE
                font-size: 12px;
            }

            $i: index($itemblocks, $current-itemblock);

            &.#{$current-itemblock} > * {
                position: relative;
                width: percentage((1 / $i) * (100 - (($i - 1)  * $margin)) / 100);
                margin-right: percentage($margin / 100);

                &:nth-child(#{$i}n) {
                    margin-right: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}